.containerUp{
    color:white;
    height: 16vw;
    width: 100%;
    background-image: url("../public/Pokeball.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    text-transform: capitalize;
    
}

.containerDown{
    border-radius: 12px;
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.neo{    
background-color: white;
border-radius: 12px;
height:32.43vw;
width:28.88vw;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.mask{
    background: rgb(255,206,149);
background: linear-gradient(49deg, rgba(255,206,149,1) 0%, rgba(65,83,255,1) 47%, rgba(235,75,75,1) 80%);
  }

