.bug{
    background-color: #A6B91A !important;
    color:white;
    text-transform: capitalize;
    
}
.dragon{
    background-color: #6F35FC !important;
    color:white;
    text-transform: capitalize;
    
}

.fire{
    background-color: #EE8130 !important;
    color:white;
    text-transform: capitalize;
    
}
.water{
    background-color: #6390F0 !important;
    color:white;
    text-transform: capitalize;
    
}
.ground{
    background-color: #E2BF65 !important;
    color:white;
    text-transform: capitalize;
    
}
.rock{
    background-color: #B6A136 !important;
    color:white;
    text-transform: capitalize;
    
}
.psychic{
    background-color: #F95587 !important;
    color:white;
    text-transform: capitalize;
    
}
.electric{
    background-color: #F7D02C !important;
    color:white;
    text-transform: capitalize;
    
}
.ghost{
    background-color: #735797 !important;
    color:white;
    text-transform: capitalize;
    
}
.ice{
    background-color: #96D9D6 !important;
    color:white;
    text-transform: capitalize;
    
}
.normal{
    background-color: #A8A77A !important;
    color:white;
    text-transform: capitalize;
    
}
.poison{
    background-color: #A33EA1 !important;
    color:white;
    text-transform: capitalize;
    
}
.grass{
    background-color: #7AC74C !important;
    color:white;
    text-transform: capitalize;
    
}
.flying{
    background-color: #A98FF3 !important;
    color:white;
    text-transform: capitalize;
    
}
.fighting{
    background-color: #C22E28 !important;
    color:white;
    text-transform: capitalize;
    
}
.fairy{
    background-color: #D685AD !important;
    color:white;
    text-transform: capitalize;
    
}


